<div class="container-fluid" style="background-color: white;border:1px solid transparent">

<div class="container">
    <h3 style="color: rgb(42, 127, 224);margin:40px 0px 30px 18px">Profile</h3>

<div class="container row">
    <div class="col-md-4" style="text-align: center;">
        <img src="../../assets//pexels-pixabay-220453.jpg" class="image-responsive" alt="Profile Image" >
        
    <button class="btn btn-warning" style="margin:10px 10px 0px 10px;padding:6px 40px 6px 40px">Edit Photo</button>
    <button class="btn btn-warning" style="margin:10px 10px 0px 10px;padding:6px 40px 6px 40px">Edit Profile</button>
           
       
    </div>
    <div class="col-md-8" style="padding:0px 50px 0px 50px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias veritatis reiciendis officiis deserunt earum voluptate, dolorem expedita suscipit culpa necessitatibus praesentium magni modi excepturi aliquid sint similique omnis placeat!
        <div>
            <button class="btn btn-success">I Agree</button>
        </div>
    </div>
   
</div>

</div>

</div>

