<div class="container-fluid" style="border:1px solid transparent">
<div class="container navigationbar" >
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid" >
        <a class="navbar-brand" >DEMO APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item">
              <a class="nav-link active home" routerLink="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">JOBS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user-profile">CLIENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EMPLOYERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>